:root {
    --Cream: #f2ebe3;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--Cream);
    font-size: 2.4rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.components {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.components li {
    margin-top: 0.4rem;
}

.list {
    background-color: #fff;
    margin-top: 1rem;
    list-style: none;
    padding: 2rem 4rem;
    border-radius: 0.8rem;
}

.list a {
    text-decoration: none;
    color: #777;
    transition: 0.3s;
}

.list a:hover {
    color: orangered;
}

@media (max-width: 25em) {
    body {
        font-size: 2rem;
    }
}
