:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentWhiteStat: hsla(0, 0%, 100%, 0.6);
    --ff-Inter: "Inter", sans-serif;
    --ff-LexendDeca: "Lexend Deca", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ff-Inter);
}

body {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--VeryDarkBlue);
}

.card-container {
    max-width: 60rem;
}

.card {
    border : 1px solid red;
    display: flex;
    /* align-items: center; */
    border-radius: 0.8rem;
    overflow: hidden;
}

.section {
    flex: 1 1 0;
}

.content {
    border : 1px solid red;
    background-color: var(--DarkDesaturatedBlue);
    padding: 5rem;
    padding-right: 5.7rem;
}

.content-header {
    font-weight: 700;
    color: var(--White);
}

.content-header span {
    color: var(--SoftViolet);
}

.content-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--SlightlyTransparentWhiteMain);
    line-height: 1.8;
    margin-top: 2.2rem;
}

.stats-list {
    color: var(--SlightlyTransparentWhiteStat);
    display: flex;
    align-items: center;
    column-gap: 3.8rem;
    margin-top: 5.2rem;
    list-style: none;
}

.stats-list h3 {
    color: var(--SlightlyTransparentWhiteMain);
    font-weight: 700;
}

.stats-item {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.stats-item > div {
    font-size: .8rem;
    font-family: var(--ff-LexendDeca);
}

.picture {
    position: relative;
}

.picture::before {
    content: "";
    background-color: var(--SoftViolet);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
}

.section img {
    width: 100%;
    min-height: 100%;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: var(--SlightlyTransparentWhiteStat);
    margin-top: 1.2rem;
}

.attribution a {
}

/* @media (max-width: 750px) {
    .card-container {
        max-width: 20rem;
    }

    .card {
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        margin: 2rem;
        align-items: center;
    }

    .content-header {
        font-size: 1.1rem;
    }

    .content-description {
        margin-top: 1.8rem;
        font-size: 0.9rem;
    }

    .content-footer {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        row-gap: 1.6rem;
    }

    .content-footer span {
        font-size: 0.8rem;
    }

    .footer-stats {
        margin-bottom: 0;
    }

    .attribution {
        font-size: 1rem;
        margin-top: 0.8rem;
    }
} */
