:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentWhiteStat: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--VeryDarkBlue);
}

.card-container {
    background-color: var(--DarkDesaturatedBlue);
    border-radius: .8rem;
    overflow: hidden;
}


.card {
    display: flex;
    /* max-height: 40rem; */
    /* max-width: 60rem; */
    flex: 1 1 0;
}

.section {
    /* max-width: 32rem; */
    flex: 1 1 0;
}

.content {
    background-color: var(--DarkDesaturatedBlue);
    padding: 3.5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;
}

.content-header {
    font-weight: 700;
    color: var(--White);
    font-size: 1.5rem;
}

.content-header span {
    color: var(--SoftViolet);
}

.description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--SlightlyTransparentWhiteMain);
    line-height: 1.6;
    margin-top: 1.2rem;
}

.content-footer {
    text-transform: uppercase;
    color: var(--SlightlyTransparentWhiteStat);
    display: flex;
    flex: 1 1 0;
    align-items: flex-end;
    column-gap: 4rem;
}

.footer-stats {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.section-content-footer span {
    
}


.section img {
    object-fit: cover;
    opacity: .5;
}

.picture {
    background-color: hsl(277, 100%, 56%);
    object-fit: cover;
    opacity: .8;
}
/* ////////////////////////////////////////// */

.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: var(--SlightlyTransparentWhiteStat);
    margin-top: 1.2rem;
}

.attribution a {
}

@media (max-width: 750px) {
    .card {
        flex-direction: column-reverse;
        max-width: 30rem;
        max-height: 50rem;
    }

    .content {
        max-width: 100%;
        max-height: 100%;
        gap: 1.6rem;
    }

    .content-header {
        font-size: 1.1rem;
    }

    .section img {
        border-radius: 6px 6px 0 0;
    }

    .card {
        text-align: center;
    }

    .content {
        align-items: center;
        border-radius: 0 0 6px 6px;
    }

    .content-footer {
        flex-direction: column;
    }
}
