:root {
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --SlightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
    --SlightlyTransparentWhiteStat: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--VeryDarkBlue);
}

.card-container {
    background-color: var(--DarkDesaturatedBlue);
    max-width: 70rem;
    max-height: 25rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.card {
    display: flex;
    width: 100%;
}

.section {
    flex: 1 1 0;
    /* flex-basis: 100%; */
}

.content {
    background-color: var(--DarkDesaturatedBlue);
    margin: 5rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.content-header {
    width: 100%;
    font-weight: 700;
    color: var(--White);
}

.content-header h1 {
    /* width: 100%; */
}

.content-header span {
    color: var(--SoftViolet);
}

.content-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--SlightlyTransparentWhiteMain);
    line-height: 1.6;
    margin-top: 2rem;
}

.content-footer {
    text-transform: uppercase;
    color: var(--SlightlyTransparentWhiteStat);
    display: flex;
    flex: 1 1 0;
    align-items: flex-end;
    column-gap: 6rem;
}

.footer-stats {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

.content-footer span {
    font-size: 1.1rem;
}

.picture {
    position: relative;
}

.picture::before {
    content: "";
    background-color: var(--SoftViolet);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
}

.section img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: var(--SlightlyTransparentWhiteStat);
    margin-top: 1.2rem;
}

.attribution a {
}

@media (max-width: 750px) {
    .card-container {
        max-height: 100%;
        max-width: 20rem;
    }

    .card {
        flex-direction: column-reverse;
        text-align: center;
    }

    .content {
        margin: 2rem;
        align-items: center;
        /* row-gap: 0; */
    }

    .content-header {
        font-size: 1.1rem;
    }

    .content-description {
        margin-top: 1.8rem;
        font-size: 0.9rem;
    }

    .content-footer {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        row-gap: 1.6rem;
    }

    .content-footer span {
        font-size: 0.8rem;
    }

    .footer-stats {
        margin-bottom: 0;
    }

    .attribution {
        font-size: 1rem;
        margin-top: 0.8rem;
    }
}
