@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* *Primary* */
  --Lightred: #ff5757;
  --Orangeyyellow: #ffb01f;
  --Greenteal: #00bd91;
  --Cobaltblue: #1125d4;

  /* *Gradients* */
  /* background */
  --Lightslateblue: #7857ff;
  --Lightroyalblue: #2e2be9;

  /* Circle */
  --Violetblue: #4e21ca;
  --Persianblue: #2421ca00;
  --Persianblue2: #2623c501;

  /* Neutral */
  --White: #ffffff%;
  --Paleblue: #ebf1ff;
  --Lightlavender: #c8c7ff;
  --Darkgrayblue: #303b5a;
}
