<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/favicon-32x32.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./index.css" />
        <title>Frontend Mentor | 3-column preview card component</title>
    </head>
    <body>
        <main class="card">
            <section class="card__section | card__section--sedans">
                <img
                    src="./images/icon-sedans.svg"
                    alt="Logo Sedans"
                    class="card__image"
                />
                <h2 class="card__header">Sedans</h2>
                <div class="card__description">
                    Choose a sedan for its affordability and excellent fuel
                    economy. Ideal for cruising in the city or on your next road
                    trip.
                </div>
                <a href="#" class="card__btn card__btn--sedans">Learn More</a>
            </section>
            <section class="card__section | card__section--suvs">
                <img
                    src="./images/icon-suvs.svg"
                    alt="Logo Suvs"
                    class="card__image"
                />
                <h2 class="card__header">SUVs</h2>
                <div class="card__description">
                    Take an SUV for its spacious interior, power, and
                    versatility. Perfect for your next family vacation and
                    off-road adventures.
                </div>
                <a href="#" class="card__btn | card__btn--suvs">Learn More</a>
            </section>
            <section class="card__section | card__section--luxury">
                <img src="./images/icon-luxury.svg" class="card__image" />
                <h2 class="card__header">Luxury</h2>
                <div class="card__description">
                    Cruise in the best car brands without the bloated prices.
                    Enjoy the enhanced comfort of a luxury rental and arrive in
                    style.
                </div>
                <a href="#" class="card__btn | card__btn--luxury">Learn More</a>
            </section>
        </main>

        <footer class="attribution">
            Challenge by
            <a
                href="https://www.frontendmentor.io?ref=challenge"
                target="_blank"
                >Frontend Mentor</a
            >. Coded by
            <a href="https://github.com/Soto-J" target="_blank">John Soto</a>.
        </footer>
    </body>
</html>
