:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkishBlue: hsl(211, 20%, 21%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Overpass", sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    font-size: 1.5rem;
    font-weight: 400;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.3rem;
    border-radius: 1.4rem;
    max-width: 36rem;
    gap: 1.2rem;
}

.content {
    flex: 1 1 0;
}

.star-img {
    background-color: var(--DarkishBlue);
    padding: 1rem;
    align-self: flex-start;
    border-radius: 50%;
}

.header {
    font-size: 2.8rem;
    color: var(--White);
    margin-top: 1.2rem;
}

.description {
    font-size: 1.4rem;
    color: var(--LightGrey);
}

.numbers {
    color: var(--LightGrey);
    list-style: none;
    display: flex;
    text-align: center;
    gap: 2.2rem;
    margin-top: 1.2rem;
    cursor: pointer;
}

.numbers li {
    background-color: var(--DarkishBlue);
    padding: 1.2rem;
    border-radius: 50%;
    flex: 1 1 0;
}

.numbers li:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.active {
    color: var(--White);
    background-color: var(--MediumGrey) !important;

}

.btn-submit {
    text-transform: uppercase;
    color: var(--White);
    background-color: var(--Orange);
    border: none;
    border-radius: 1.6rem;
    padding: 0.8rem;
    cursor: pointer;
    margin-top: 1.2rem;
    transition: .3s;
    letter-spacing: 1.1;
}

.btn-submit:hover {
    color: var(--Orange);
    background-color: var(--White);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    color: var(--White);
    margin-top: 1.2rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
