<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/output.css" />

    <title>Frontend Mentor | Four card feature section</title>
  </head>
  <body
    class="my-8 h-screen p-8 font-Poppins text-GrayishBlue md:my-0 md:mx-auto md:max-w-5xl"
  >
    <div class="text-center md:mx-auto md:max-w-lg">
      <h1 class="text-2xl md:px-24">
        Reliable, efficient delivery
        <span class="font-bold text-VeryDarkBlue"> Powered by Technology </span>
      </h1>
      <p class="mt-4 text-base">
        Our Artificial Intelligence powered tools use millions of project data
        points to ensure that your project is successful
      </p>
    </div>

    <div
      class="mt-12 flex flex-col gap-4 text-sm md:flex-row md:items-center md:justify-center"
    >
      <div
        class="flex-1 rounded-md border border-t-4 border-t-Cyan p-5 shadow-lg"
      >
        <h2 class="text-lg font-bold text-VeryDarkBlue">Supervisor</h2>
        <p>Monitors activity to identify project roadblocks</p>
        <img
          src="./images/icon-supervisor.svg"
          alt="Supervisor"
          class="ml-auto mt-8 h-12 w-12"
        />
      </div>

      <div class="flex flex-1 flex-col gap-4">
        <div
          class="flex-1 rounded-md border border-t-4 border-t-Red p-5 shadow-lg"
        >
          <h2 class="text-lg font-bold text-VeryDarkBlue">Team Builder</h2>
          <p>
            Scans our talent network to create the optimal team for your project
          </p>
          <img
            src="./images/icon-team-builder.svg"
            alt="Team Builder"
            class="ml-auto mt-8 h-12 w-12"
          />
        </div>

        <div
          class="flex-1 rounded-md border border-t-4 border-t-Orange p-5 shadow-lg"
        >
          <h2 class="text-lg font-bold text-VeryDarkBlue">Karma</h2>
          <p>Regularly evaluates our talent to ensure quality</p>
          <img
            src="./images/icon-karma.svg"
            alt="karma"
            class="ml-auto mt-8 h-12 w-12"
          />
        </div>
      </div>

      <div
        class="flex-1 rounded-md border border-t-4 border-t-Blue p-5 shadow-lg"
      >
        <h2 class="text-lg font-bold text-VeryDarkBlue">Calculator</h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <img
          src="./images/icon-calculator.svg"
          alt="Calculator"
          class="ml-auto mt-8 h-12 w-12"
        />
      </div>
    </div>

    <footer class="mt-8 text-center">
      <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by <a href="#">John Soto</a>.
      </p>
    </footer>
  </body>
</html>
