:root {
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);

    --DarkGray: hsl(0, 0%, 59%);

    --ff-KumbhSans: "Kumbh Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-style: 62.5%;
}

body {
    color: var(--DarkGrayishBlue);
    font-family: var(--ff-KumbhSans);
    font-size: 1.4rem;
    background: url(./images/bg-pattern-top.svg);
    font-weight: 400;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: .8rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 2rem var(--DarkGray);
    background-color: #ffff;
}

.card-top {
    position: relative;
}

.card-bg {
    background: url(./images/bg-pattern-card.svg);
    padding: .8rem;
    width: 100%;
    min-height: 9rem;
    flex: 1 1 0;
}


.photo {
    position: absolute;
    border-radius: 50%;
    border: .3rem solid #ffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.info {
    padding: 4.8rem 0 1.6rem 0;
    flex: 1 1 0;
}

.name span {
    color: var(--VeryDarkDesaturatedBlue);
    font-weight: 700;
}

.location {
    font-size: 1rem;
    margin-top: .3rem;
}

.break {
    /* background-color: var(--DarkGrayishBlue); */
    height: .007rem;
    width: 100%;
}

.stats-list {
    border-top: .007rem solid var(--VeryDarkDesaturatedBlue);
    list-style: none;
    display: flex;
    column-gap: 3rem;
    padding: 1.6rem 3rem;
}

.stats-num {
    color: var(--VeryDarkDesaturatedBlue);
    font-weight: 700;
}

.stats-list span {
    font-size: .9rem;
}


.attribution {
    margin-top: 1.2rem;
    font-size: 1rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
