<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/favicon-32x32.png"
        />
        <link rel="stylesheet" href="./index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;500;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <title>Frontend Mentor | Product preview card component</title>
    </head>

    <body class="card-container">
        <main class="card">
            <div>
                <img
                    src="./images/image-product-desktop.jpg"
                    alt="Gabrielle Essence Eau De Parfum A floral"
                />
            </div>

            <section class="content">
                <div class="sub-header">Perfume</div>
                <h1 class="header">Gabrielle Essence Eau De Parfum</h1>

                <p class="description" id="testing">
                    A floral, solar and voluptuous interpretation composed by
                    Olivier Polge, Perfumer-Creator for the House of CHANEL.
                </p>
                <div class="price">
                    <div class="price-new">$149.99</div>
                    <div class="price-old">$169.99</div>
                </div>
                <button class="btn-add-to-cart">
                    <ion-icon name="cart-outline"></ion-icon>
                    <div>Add to Cart</div>
                </button>
            </section>
        </main>
        <footer class="attribution">
            Challenge by
            <a
                href="https://www.frontendmentor.io?ref=challenge"
                target="_blank"
            >
                Frontend Mentor
            </a>
            . Coded by
            <a href="https://github.com/Soto-J" target="_blank"> John Soto </a>.
        </footer>
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
