<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>Frontend Mentor | Single Price Grid Component</title>
  </head>
  <body>
    <main class="card">
      <section class="box | white-bg">
        <h1 class="header-primary">Join our community</h1>
        <h2>30-day, hassle-free money back guarantee</h2>
        <div class="top-content">
          <p>
            Gain access to our full library of tutorials along with expert code
            reviews.
          </p>
          <p>
            Perfect for any developers who are serious about honing their
            skills.
          </p>
        </div>
      </section>

      <section class="box | dark-cyan-bg">
        <h2>Monthly Subscription</h2>
        <div class="subscription">
          <div class="price">
            <span>&dollar;29</span>
            <div>per month</div>
          </div>
          <p>Full access for less than &dollar;1 a day</p>
        </div>
        <button class="btn-sign-up">Sign Up</button>
      </section>

      <section class="box | light-cyan-bg">
        <h2>Why Us</h2>
        <ul class="list">
          <li>Tutorials by industry experts</li>
          <li>Peer &amp; expert code review</li>
          <li>Coding exercises</li>
          <li>Access to our GitHub repos</li>
          <li>Community forum</li>
          <li>Flashcard decks</li>
          <li>New videos every week</li>
        </ul>
      </section>
    </main>
    <footer>
      <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >. Coded by
        <a href="https://github.com/Soto-J" target="_blank">John Soto</a>.
      </p>
    </footer>
  </body>
</html>
