:root {
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */
    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-Fraunces: "Fraunces", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.card-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--Cream);
    font-family: var(--ff-Fraunces);
}

.card {
    border: 1px solid red;
    display: flex;
    max-width: 50%;
    border-radius: 0.6rem;
}

.img-container {
    /* flex-basis: 100%; */
    /* width: 100%; */
}
.img-container img {
    width: 100%;
    border-radius: 0.6rem 0 0 0.6rem;
}

.content {
    /* flex-basis: 100%; */
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--White);
    color: var(--DarkGrayishBlue);
    border-radius: 0 0.6rem 0.6rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.header div {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2.5px;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.header h1 {
    color: var(--VeryDarkBlue);
    line-height: 1.1;
    font-size: 2.7rem;
}

.description {
    font-family: var(--ff-Montserrat);
    /* font-size: 1rem; */
    font-weight: 500;
    color: var(--DarkGrayishBlue);
    line-height: 1.4;
}

.price {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.8rem;
    display: flex;
    column-gap: 2rem;
}

.price-new {
    color: var(--DarkCyan);
}

.price-old {
    align-self: center;
    font-size: 0.8rem;
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}

.btn-add-to-cart {
    background-color: var(--DarkCyan);
    color: var(--White);
    font-size: 1.2rem;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 0.4rem;
    justify-items: flex-start;
    transition: 0.3s;
}

.btn-add-to-cart:hover {
    filter: brightness(80%);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1.2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
