:root {
    --DarkCyan: #3c8067;
    --Cream: #f2ebe3;
    --CreamShadow: #c5b7a8;

    /* Neutral */
    --VeryDarkBlue: #1c232b;
    --DarkGrayishBlue: #6c7289;
    --White: #ffffff;

    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-Fraunces: "Fraunces", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.card-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--Cream);
    font-family: var(--ff-Fraunces);
}

.card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    max-width: 45rem;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0rem 0.45rem 0.3rem var(--CreamShadow);
}

.card img {
    display: block;
    width: 100%;
}

.content {
    background-color: var(--White);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.sub-header {
    color: var(--DarkGrayishBlue);
    font-family: var(--ff-Montserrat);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
}

.header {
    font-family: var(--ff-Fraunces);
    font-weight: 700;
    color: var(--VeryDarkBlue);
}

.description {
    font-family: var(--ff-Montserrat);
    font-weight: 500;
    color: var(--DarkGrayishBlue);
    font-size: 1rem;
    line-height: 1.5;
}

.price {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.price-new {
    color: var(--DarkCyan);
    font-family: var(--ff-Fraunces);
    font-weight: 700;
    font-size: 2rem;
}

.price-old {
    color: var(--DarkGrayishBlue);
    text-decoration: line-through;
    font-family: var(--ff-Montserrat);
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-add-to-cart {
    background-color: var(--DarkCyan);
    color: var(--White);
    font-size: 1.1rem;
    padding: 1rem 2.4rem;
    border: none;
    border-radius: 0.4rem;
    justify-items: flex-start;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}


.btn-add-to-cart:hover {
    filter: brightness(80%);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1.2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 28.125em) {

    .card-container {
        padding: 1.8rem;
    }

    .card {
        width: 32rem;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }

    .card img {
        /* width: 100%; */
        /* height: 50%; */
    }

    .content {
        grid-column: -2;
    }
}
