<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/favicon-32x32.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./index.css" />
        <title>Frontend Mentor | Profile card component</title>
    </head>
    <body>
        <main class="card">
            <section class="card__top">
                <div class="test">
                    <img
                        src="./images/bg-pattern-card.svg"
                        alt="Background"
                        class="card-bg"
                    />
                </div>

                <img
                    src="./images/image-victor.jpg"
                    alt="Picture of Victor"
                    class="card__top-photo"
                />
                <div class="card__top-info">
                    <div class="info">
                        <span class="name"> Victor Crest</span> 26
                    </div>
                    <div class="location">London</div>
                </div>
            </section>

            <ul class="card__stats-list">
                <li>
                    <div class="stats-num">80K</div>
                    <p>Followers</p>
                </li>
                <li>
                    <div class="stats-num">803K</div>
                    <p>Likes</p>
                </li>
                <li>
                    <div class="stats-num">1.4K</div>
                    <p>Photos</p>
                </li>
            </ul>
        </main>
        <div class="attribution">
            Challenge by
            <a
                href="https://www.frontendmentor.io?ref=challenge"
                target="_blank"
                >Frontend Mentor</a
            >. Coded by
            <a href="https://github.com/Soto-J" target="_blank">John Soto</a>.
        </div>
    </body>
</html>
