<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="./css/output.css" />
    <title>QR code component</title>
  </head>

  <body class="bg-mainBg h-screen flex flex-col justify-center items-center">
    <section class="bg-white max-w-xs rounded-2xl p-4 text-center">
      <div class="rounded-xl overflow-hidden">
        <img src="./images/image-qr-code.png" />
      </div>
      <div class="p-4">
        <h1 class="font-bold text-Darkblue text-xl mb-4">
          Improve your front-end skills by building projects
        </h1>
        <p class="text-Grayishblue">
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </p>
      </div>
    </section>

    <footer class="font-semibold mt-2 text-sm">
      Challenge by
      <a
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
      >
        Frontend Mentor</a
      >. Coded by <a href="#">John</a>.
    </footer>
  </body>
</html>
